<!DOCTYPE html>
<html ng-app="app" ng-controller="controller">
<head>
    <link rel="stylesheet" href="popup.css">
    <script src="vendor/lodash.min.js"></script>
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/ui-grid.min.js"></script>
    <script src="popup.js"></script>
    <script src="clients.storage.js"></script>
    <script src="clients.js"></script>
    <script src="options.storage.js"></script>
    <script src="featured-clients.js"></script>
    <script src="promise-button.js"></script>
    <link rel="stylesheet" href="dropdown.css">
    <link rel="stylesheet" href="snackbar.css">
    <link rel="stylesheet" href="promise-button.css">
    <link rel="stylesheet" href="vendor/ui-grid.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="toolbar">
    <div class="server">
        <a class="logo" ng-href="{{selectedEnvironment.host}}" target="_blank"></a>
        <select
                ng-options="environment as environment.name for environment in environments track by environment.id" ng-model="selectedEnvironment"
				ng-change="changeEnvironment()"
                name="environment"
                id="environment"
                class="environment"
        ></select>
    </div>
    <div class="quick-login" ng-if="showQuickLogin">
        <input type="text" placeholder="Quick Login Id" ng-model="quickLoginId">
        <a promise-button="loginByUserId(quickLoginId)" class="action-link">login</a>
    </div>
    <button class="refresh" promise-button="refresh()">Refresh</button>
</div>
<div ui-grid="clientsGridOptions" class="clients"></div>
<div class="users-holder" ng-class="{active: activeClient}">
    <i class="fas fa-angle-double-down close-users-panel" ng-click="toggleUsers()"></i>
    <div ui-grid="usersGridOptions" class="users"></div>
</div>
<div id="snackbar"></div>
</body>
</html>